/**
 * Named colors set to values from the palette: 'components/00-base/global/01-colors/color-vars'
 */
// @todo: this is just a pasted list

$header-background: #333;

$color-border: #ccc;

$color-link: #334466;
$color-link--hover: #eee;

$color-heading: #333;